.row.playlist-Rows {
  border-style: solid;
  border-color: slategray;
}
.ui[class*='vertically divided'].grid > .row {
  margin-bottom: 15;
}
body {
  font-family: 'Open Sans', arial, sans-serif;
  padding-bottom: 56px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #222, #333);
  background-attachment: fixed;
  color: aqua;
  letter-spacing: 0.03em;
}

h3.ui.header {
  font-size: 1.28rem;
  color: aqua;
}

.main-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

/* navbar styling */
.nav {
  display: flex;
  justify-content: center;
  padding: 1em;
}
#logo {
  margin-top: 30px;
}

.currSong {
  margin: 10 auto;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: rgba(87, 230, 255, 0.438);
}

.deckSong {
  margin: 10 auto;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: rgba(45, 99, 112, 0.438);
}
.container {
  display: flex;
  justify-content: center;
}
nav a {
  display: inline-block;
  margin: 1em;
  color: whitesmoke;
}

form div {
  margin: 1em;
  display: inline-block;
}

.create-party-input {
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: center;
}

.form.ui.form {
  display: flex;
  justify-content: center;
  color: aqua;
}
/*playlist header*/
#playlist-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 20vw;
  margin-right: 20vw;
}

.center {
  display: flex;
  justify-content: center;
}

form {
  margin: 20px 0px;
}

/*search result styling */
.listBorder {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  border: 1px solid white;
  width: 400px;
  color: aqua;
}

.navbar-link hover {
  border-bottom: 2px solid aqua;
}

#song {
  border-style: dotted;
  border-width: 2px;
  border-collapse: separate;
  border-spacing: 150px;
  border: 1px solid aqua;
  padding: 15px;
  margin-top: 5px;
}

/* login page*/
.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

/* homepage*/
.userHome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

button.join-create-button {
  display: flex;
}
