body {
  font-family: 'Open Sans', arial, sans-serif;
  padding-bottom: 56px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #222, #333);
  background-attachment: fixed;
  color: #f2f2f2;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* navbar styling */
.nav {
  display: flex;
  justify-content: center;
  padding: 1em;
}
nav a {
  display: inline-block;
  margin: 1em;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#player {
  position: fixed;
  height: 56px;
  width: 100%;
  bottom: 0;
  margin-left: 150px;
  margin-bottom: 25px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

#sidebar {
  height: 100%;
  background-color: #333;
  border-right: 1px solid gray;
  text-align: center;
  position: fixed;
  width: 160px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
}

#sidebar section {
  text-align: left;
  padding-left: 6px;
}

#sidebar a {
  transition: border 0.2s ease;
  cursor: pointer;
}

#sidebar a:hover {
  border-bottom: 2px solid #00aaaa;
}

/*playlist component */
#playlist {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 15em; /*Same as the width of the sidebar */
  margin-top: 2em;
  padding: 0px 10px;
}

/*songcard */
.songcard {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #00aaaa;
  border-bottom: 2em;
  width: 80vw;
  color: aqua;
}

#logo {
  max-height: 100px;
  max-width: 100px;
}

#searchbar {
  margin: 0 200px;
  color: black;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidebar-link {
  color: white;
}

/* .upvote-link {
  color: aqua;
} */
/*search result styling */
.listBorder {
  border: 1px solid white;
  display: flex;
  /* flex-wrap: wrap;      need to update wrap for song seartch portion only*/
  justify-content: space-between;
  align-content: center;
  width: 400px;
  color: aqua;
}
.navbar-link hover {
  border-bottom: 2px solid #00aaaa;
}

#song {
  border-style: dotted;
  border-width: 2px;
  border-collapse: separate;
  border-spacing: 150px;
  border: 1px solid aqua;
  padding: 15px;
  margin-top: 5px;
}

/* login page*/
.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: aqua;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

/* homepage*/
.userHome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

button.join-create-button {
  display: flex;
}
